@import '../base/settings.scss';

.hamburger-menu {
  display: none;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  .menu-secondary-background-colour {
    background: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .menu-layer {
    position: relative;
    background: $orange;
    height: 100%;
    overflow: hidden;
    .wrapper {
      position: relative;
      height: 100%;
      .menu-links {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        position: relative;
        height: 100vh;
        nav {
          display: block;
          margin: 0 auto;
          ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li {
              list-style: none;
              font-size: 4rem;
              font-weight: 700;
              cursor: pointer;
              height: 100px;
              // overflow: hidden;
              position: relative;
              // width: 700px;
              a {
                position: absolute;
                color: #fff;
                text-decoration: none;
                font-family: Poppins;
                &:hover {
                  color: #000;
                }
              }
            }
          }
        }
        .info {
          display: block;
          width: 50%;
          height: 100%;

        }
      }
    }
  }
}