@import '../base/settings.scss';

.aboutContainer {
  width: 90%;
  padding-top: 150px;
  margin: 0 auto 50px auto
}
.aboutIntro {

  h2 {
    font-size: 45px;
    height: 45px;
    font-family: Playfair Display;
  }
}

.orangeLine {
  height: 6px;
  background-color: $orange;
  margin: 50px 0;
  width: 100%;
}

.aboutText {

  p {
    font-size: $m-size;
    padding: 10px 0;

    a {
      color: $lightblue;
    }
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;

  ul {
    width: 50%;

    span {
      font-size: $ms-size;
      font-weight: 600;
    }
    li {
      font-size: $m-size;
      padding: 5px 0;
    }
  }
  .other {
    padding-top: 40px;
    @media only screen and (min-width: 1024px) {
      padding-top: 0;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .aboutContainer {
    width: 60%;
    margin: 0 20% 100px 20%
  }

  .aboutIntro {

    h2 {
      font-size: 80px;
      height: 90px;
    }
  }

  .aboutText {
    p {
      font-size: $ms-size;
      line-height: $ml-size;
    }
  }

  .skills {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: unset;
  
    ul {
      margin: 0 0 0 2px;
      width: 33.33%;
  
      span {
        font-size: $ml-size;
        font-weight: 600;
      }
      li {
        font-size: $ms-size;
        padding: 5px 0;
      }
    }
  }
}