/*************
* FONT SIZES *
*************/
$xs-size: 1rem;
$s-size: 1.2rem;
$sm-size: 1.4rem;
$m-size: 1.6rem;
$mxs-size: 1.8rem;
$ms-size: 2rem;
$ml-size: 2.6rem;
$l-size: 3.2rem;
$xl-size: 3.6rem;
$xxl-size: 4.0rem;
$xxxl-size: 6.0rem;

/**********
* COLOURS *
**********/

$orange: #EE9700;
$grey: #6d6d6d;
$lightgrey: #DCDCDC;