/*************
* FONT SIZES *
*************/
$xs-size: 10px;
$s-size: 12px;
$sm-size: 14px;
$m-size: 16px;
$mxs-size: 18px;
$ms-size: 20px;
$ml-size: 26px;
$l-size: 32px;
$xl-size: 36px;
$xxl-size: 40px;
$xxxl-size: 60px;

/**********
* COLOURS *
**********/

$orange: #EE9700;
$grey: #6d6d6d;
$lightgrey: #DCDCDC;